/* IMPORT THE ROBOTO POLICE */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* IMPORT THE ROBOTO POLICE */
/*APPLY THE FONT TO THE WHOLE BODY*/
body {
  font-family: "Roboto";
  background-color: #e2e376;
}
/*APPLY THE FONT TO THE WHOLE BODY*/
.header {
  background-color: #4a8e6b;
  height: 100px;
  display: flex;
  justify-content: "space-between";
  font-size: 20px;
}
.footer {
  background-color: #4a8e6b;
  height: 100px;
  display: flex;
  justify-content: "space-between";
  font-size: 20px;
}

.headerTitle {
  margin-top: 30px;
  margin-left: 30px;
}

/* FOR ALL THE CARDS */
.portfolio-place {
  width: 1200px;
  margin: 0 auto;
  height: 800px;
  margin-top: 50px;
}
.containerPortfolioCard {
  display: flex;
}

.cardPortfolio {
  margin-left: 100px;
  height: 300px;
  width: 400px;
  background: #729862;
  margin-top: 20px;
  color: #d7edb2;
  font-weight: bold;
}
.cardPortfolio a {
  text-decoration: none; /* no underline */
  color: white;
}

.cardTitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.cardCaroussel {
  width: 120px;
  height: 130px;
  object-fit: contain;
}

.cardDescription {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
}
/* FOR ALL THE CARDS */

/* RESPONSIVE */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 900px) {
  /* Rules */
  .cardPortfolio {
    margin-left: 100px;
    height: 300px;
    width: 400px;
    background: #729862;
    margin-top: 20px;
    color: #d7edb2;
    font-weight: bold;
  }
  .containerPortfolioCard {
    display: block;
  }
  .footer {
    display: none;
  }
}
